@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
  
}
body{
    height: 100vh;
    background-color: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);;
    
    background-size: cover;
    background-position: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#FFB366;
    font-size: 1.8rem;
    font-weight: 600;
}
a:hover{
    color: orange;
    text-decoration-line: underline;
}
header{
    position: relative;
    padding: 0 2rem;
}

/* NAVBAR*/
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .logo img {
    width: 10rem; 
    height: 10rem; 
    margin-right: 10px; 
    margin-left: -25px;
    margin-top:75px;
    transition: all 0.3s;
}
.navbar .logo img:hover{
    transform: scale(1.2);
  }
.navbar .links{
    position: relative;
    margin-top: 50px;
    display: flex;
    gap: 2rem;
    transition: all 0.3s ease;
}
.navbar .links:hover{
    transform: scale(1.2);
}
.navbar .toggle-btn{
    color: #df9100;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action-btn{
    margin-top: 2.5rem;
    background-color: #FFB366;
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.12rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action-btn:hover{
    scale: 1.15;
    color: #fff;
    text-decoration: none;
}
.action-btn:active{
    scale: 0.95;
}
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background:rgba(204, 240, 204, 1) ;
    backdrop-filter: blur(100px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown-menu.open{
    height: 240px;
}
.dropdown-menu li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

/* HERO */
section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFB366;
    font-weight: 600;
}
#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#hero p{
    font-size: 1.5rem;
}
#hero img{
    margin-top: 50px;
    border-radius: 50%;
    border: 4px solid #fca54f;
    box-shadow: 0 0 5px #fca54f
}

/* ABOUT */
#about {
    background: linear-gradient(245.59deg, #133917 0%, #38703d 28.53%, #4d9559 75.52%);  
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-content {
    max-width: 800px;
    margin: 0 auto;
}
#about h2 {
    font-size: 3rem;
    margin-bottom: -3rem;
    margin-top: 1rem;
    color: #FFB366;
}
#about p {
    margin-top: -3.5rem;
    color: #FFB366;
    font-size: 25px;
    font-weight: 500;
}
#about img{ 
    border-radius: 30%; 
    width: 30rem;
}


/* SERVICES */
  #services{
    background:linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);   
    padding: 40px;
    text-align: center;
}
    #services h2{
    font-size: 2.8rem;
    margin-bottom: 6rem;
    margin-top: 6rem;
    color: #FFB366;
    }
.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap; /* Cambiamos el flex-wrap a "wrap" para que las cartas se envuelvan */
    justify-content: space-between;
    margin: auto;
}
.container .card {
    width: calc(50% - 115px); /* Establecemos el ancho de las cartas para que haya dos cartas una al lado de la otra con un espacio entre ellas */
    min-width: 272px;
    height: 480px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(204, 111, 24, 0.3);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(182, 118, 35, 0.8);
}
.container .card img{
    width: 100%;
    height: 220px;
}
.container .card h4{
    font-size: 22px;
    margin-top: 1rem;
    font-weight: 600;
    color: #FFB366;
}
.container .card p{
    margin-top: 1.2rem;
    margin-bottom: 1.4rem;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: 300;
    color: white;
}
.container .card a{
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #c47e39;
}
.more-content {
    display: none; 
}

.read-more-link.active {
    display: none; 
}
/* ARROW */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background:transparent;
    color: #fff;
    padding: 10px 20px;
    border-radius: 40%;
    cursor: pointer;
    border: 0.2px solid #FFB366;
    transition: transform 0.2s;
}
.scroll-to-top:hover {
    transform: scale(1.2);
}
.scroll-to-top a {
    text-decoration: none;
    color: #FFB366; 
}
#contact {
    background: linear-gradient(245.59deg, #133917 0%, #38703d 28.53%, #4d9559 75.52%);
    padding: 40px;
    text-align: center;
}

#contact h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #FFB366;
}

#contact form {
    background-color: #4d9559;
    border: 4px solid #FFB366;
    border-radius: 5%;
    align-items: center;
    max-width: 800px; /* Establece un ancho máximo en lugar de ancho fijo */
    padding: 20px 30px 20px 30px;
    margin: 0 auto; /* Centra horizontalmente el formulario */
}

#contact label {
    font-size: 32px;
    font-weight: 600;
    color: #FFB366;
}

#contact input{
    width: 100%;
    height: 60px;
    background: #b1ccb5;
    border: 3px solid #FFB366;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    color: white;
    outline: #a75401;
}
#contact textarea {
    width: 100%;
    height: 250px;
    background-color: #b1ccb5;
    border: 3px solid #FFB366;
    cursor: pointer;
    font-size: 22px;
    color: white;
    outline: #a75401;
    
}





/*RESPONSIVE */
@media(max-width:992px){
    .navbar .links,
    .navbar .action-btn
    {
        display: none;
    }
    a{
        font-size: 1.2rem;
    }
    .navbar .toggle-btn{
        display: block; 
        font-size: 1.6rem;     
        margin-top: 30px;
        position: relative;
        
        border: 2px solid #fd9e3e; 
        border-radius: 30%;
        box-shadow: 0 0 2px #fca54f;
        padding: 5px;
    }
    .dropdown-menu{
        display: block;
    }
    #services h2{
        font-size: 2.8rem;
        margin-bottom: 3rem;
        margin-top: 3rem;
        color: #FFB366;
        }
        .container .card p{
            margin-bottom: 0.5rem;
        }

        .action-btn{
            margin-top: 0;}
            .container {
                justify-content: center; /* Centrar las tarjetas horizontalmente */
            }
}
@media(max-width:720px){
    #hero img{
        width: 520px;
        height: 330px;
        margin-top: 50px;
        border-radius: 50%;
        border: 4px solid #fca54f;
        box-shadow: 0 0 5px #fca54f
    }
}
@media(max-width:576px){
    .navbar .logo img{
        margin-top: 70px;
    }
    #about p {
        font-size: 20px;
        text-align: center;
    }
    #about img{   
        width: 20rem; 
        height: 25rem;   
        border-radius: 30%; 
    }
    #about img:first-child{
        width: 21rem;
        height: auto;
    }
    .dropdown-menu{
        top: 7rem;
        left: 2rem;
        width: unset;  
    }
    .action-btn{
        margin: 0;
    }
    #hero img{
        width: 320px;
        height: 230px;
        margin-top: 50px;
        border-radius: 50%;
        border: 4px solid #fca54f;
        box-shadow: 0 0 5px #fca54f
    }
    .container .card {
        width: calc(90% - 5px);
        height: 492px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        cursor: pointer;
        transition: all 0.25s;
    } 
    .container .card a{
        font-weight: 500;
        text-decoration: none;
        color: #FFB366;
    }
    .scroll-to-top {
        padding: 6px 12px; 
        font-size: 10px; 
        border: 0.6px solid #FFB366; 
        box-shadow: 0 0 4px #fca54f;
    }
    .scroll-to-top:hover {
        transform: scale(1.05); 
    }
}
@media(max-width:360px){
    #hero img{
        width: 220px;
        height: 180px;
        margin-top: 50px;
        border-radius: 50%;
        border: 4px solid #fca54f;
        box-shadow: 0 0 5px #fca54f
    }
    #about img{   
        width: 220px;
        height: 180px;  
        border-radius: 30%; 
    }
    #about img:first-child{
        width: 220px;
        height: 180px;  
    }
}
